@font-face {
    font-family: 'HK Modular';
    src: url('https://hanken.co/products/hk-modular/HK-Modular.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
}

.barraSuperior {
    background-color:#FFDE59;
    color: #fff; 
    padding: 1%;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    margin-top: none;
    margin-bottom: 10;
    z-index: 1000;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    transition: top 1s;
}

.barraInferior {
    background-color:#FFDE59;
    color: #fff; 
    padding: 1%;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    z-index: 1000;
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
    transition: bottom 1s;
    opacity: 0;
    text-shadow: 2px 2px 4px #97556F;
    text-align: center;
}

.escolharegisto{
    align-items: center;
    background-color: #402A49;
}
body{
    background-color: #402A49;
    color: #fff;
}

.nomeSite{
    text-align: center;
    text-shadow: 2px 2px 4px #97556F;
}

.nomeSite h1{
    font-size: 1.5rem;
    margin-bottom: 0;
}

.nomeSite h2{
    font-size: 1rem;
    margin-top: 0;
}

.barraSuperior a {
    text-decoration: none; 
    color: #fff; 
    margin-right: 1em;
    text-align: center;
}

.logo{
    background-color: #FFDE59;
    
}
/*.BV{
    position: absolute;
    color: #fff;
    text-shadow: 4px 4px 6px #9600db;
    left: 60%;
    top: 28%;
    right: 10%;
    font-size: 2.4375rem;
    text-align: center;
    font-family: 'HK Modular', sans-serif;
}

.bvtxt{
    position: absolute;
    color: #fff;
    text-shadow: 4px 4px 6px #9600db;
    left: 40%;
    top: 50%;
    right: 40%;
    font-size: 2.4375rem;
    text-align: left;
    font-family: 'HK Modular', sans-serif;
}*/

.titulo {
    color: #fff;
    text-shadow: 0.2em 0.2em 0.3em #9600db; 
    font-size: 4rem; 
    font-family: 'HK Modular', sans-serif;
    width: 100%; 
    text-align: right; 
    margin-top: 10rem; 
    margin-bottom: 0;
}

.tituloEscoRegs{
    color: #fff;
    text-shadow: 0.1em 0.1em 0.2em #c13cff; 
    font-size: 2rem;
    width: 100%; 
    font-family: 'HK Modular', sans-serif;
    margin-top: 10rem;
    text-align: center;
}

.bvtxt {
    color: #fff;
    text-shadow: 0.2em 0.2em 0.3em #9600db; 
    font-size: 3rem; 
    text-align: left;
    font-family: 'HK Modular', sans-serif;
    width: 100%; 
    text-align: right;
    margin-top: -5rem; 
}




.logo img{
    height: 5rem;
    width: 5rem;
}

.inicio{
    background-image: url('Fundo\ landpage.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}

.botao{
    margin-right: 1%;
    align-items: center;
}

.botaoEscolhaRegistro{
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 20vh;
}

.botao button{
    background-color: white;
    border: none;
    color: #b3972b;
    padding: 2% 4%;
    text-align: center;
    font-size: 1rem;
    margin: 1% 1%;
    transition: 0.3s;
    border-radius: 12px;
    width: 7em; 
    height: 2.5em;
    
}

.botaoEscolhaRegistro button{
    background-color: rgb(255, 255, 255);
    border: none;
    color: #b3972b;
    padding: 2% 4%;
    text-align: center;
    font-size: 1rem;
    margin: 1% 1%;
    transition: 0.3s;
    border-radius: 12px;
    width: 12em; 
    height: 5em;
    
}


.botao button:hover{
    background-color: #FFD700;
    color: white;
}

.botaoEscolhaRegistro button:hover{
    background-color: #FFD700;
    color: white;
}
.botao-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh; /* Ajuste a altura conforme necessário para centralizar verticalmente */
}

.subbotao {
    background-color: white;
    border: none;
    color: #b3972b;
    font-size: 30px;
    text-align: center;
    font-size: 1rem;
    margin: 1% 1%;
    transition: 0.3s;
    border-radius: 12px;
    width: 25%;
    height: 3.5em;
}



.subbotao:hover {
    background-color: #FFD700;
    color: white;
}

.corpo{
    margin-top: 70px;
    flex-grow: 1;
    margin-bottom: 70px;
    font-size: 150%;
    align-content: center;
}

.caixinha{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*.textos{
    width: 25%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    display: flex;
    justify-content: center; 
    align-items: center;
    text-align: center;
}*/

.t{
    font-size: 100%;
}

.textos{
    width: 25%;
    padding: 15px;
    margin: 5px 0 22px 0;
    background: #f1f1f1;
    justify-content: center;
    align-items: center;
    border: none;
    font-size: 100%;
}

.marcas{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
    
}

.corpo form{
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;
    text-align: center;
}

.selecao {
    display: inline-block;
    position: relative;
    padding-left: 60px; 
    cursor: pointer;
}
.selecao input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.caixan {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 25px;
    height: 35px; /* Ajuste a altura conforme necessário */
    width: 35px; /* Ajuste a largura conforme necessário */
    background-color: #ffffff;
    border: 1px solid #000000; /* Adicione uma borda para a caixa de seleção */
}
.selecao input:checked ~ .caixan {
    background-color: #FFD700;
    border: 1px solid  #FFD700; /* Altere a cor da borda quando selecionado */
}

.caixan:after {
    content: "";
    position: absolute;
    display: none;
}


.selecao input:checked ~ .caixan:after {
    display: block;
  }

  .selecao .caixan:after {
    left: 9px; /* Posição do marcador dentro do checkbox */
    top: 5px; /* Posição do marcador dentro do checkbox */
    width: 5px; /* Tamanho do marcador */
    height: 10px; /* Tamanho do marcador */
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }

  .circulon {
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    height: 35px; /* Ajuste a altura conforme necessário */
    width: 35px; /* Ajuste a largura conforme necessário */
    background-color: #ffffff;
    border: 1px solid #000000; /* Adicione uma borda para a caixa de seleção */
}
.selecao input:checked ~ .circulon {
    background-color: #FFD700;
    border: 1px solid #FFD700; /* Altere a cor da borda quando selecionado */
}

.circulon:after {
    content: "";
    position: absolute;
    display: none;
}


.selecao input:checked ~ .circulon:after {
    display: block;
  }

  .selecao .circulon:after {
    left: 9px; /* Posição do marcador dentro do checkbox */
    top: 5px; /* Posição do marcador dentro do checkbox */
    width: 5px; /* Tamanho do marcador */
    height: 10px; /* Tamanho do marcador */
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    border-radius: 50%;
  }

.gavetan{
    position: relative;
    font-family: Arial;
    z-index: 1000;
    margin-bottom: 50px;
    width: 100%;

}

.gavetan select{
    display: none;
}

.gavetanick{
    background-color: #FFD700;
}

.gavetanick:after{
    position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

.gavetan.select-arrow-active:after{
    border-color: transparent transparent #fff transparent;
  top: 7px;
}
/*.select-items div,.select-selected*/
.itensseleci div,.gavetanick {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
}

.itensseleci {
    position: absolute;
    background-color: #FFD700;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    max-height: 200px;
    overflow-y: auto;
}
  
.gaveta-fechada {
    display: none;
}

.itensseleci div:hover, .mesmaseles {
    background-color: rgba(0, 0, 0, 0.1);
}



/*------------------------------------------------------------------------------*/

